# venv
venv/
.venv/
env/

# python
__pycache__/
*.py[cod]

# django
.env
.env.*
!.env.example
.env.backup
db.sqlite3
media/
staticfiles/

# logs
*.log
gunicorn*.log

# ide
.idea/
.vscode/

# Node
node_modules/
dist/

# local C++ copies
database.cpp
mailer.cpp
